@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

$black: #32003a;
$white: #fbfbfb;
$primary-color: #32003a;
$secondary-color: #ffb865;
$font: "Open Sans", sans-serif;
$title-size: 40px;
$subtitle-size: 26px;
$body-size: 17px;
$legend-size: 12px;
$title-weight: 700;
$subtitle-weight: 500;
$body-weight: 200;
$button-weight: 200;
